{% extends 'base.html' %}

{% block content %}

    <h1>Cambio de contraseña</h1>
    {% if validlink %}
    <p>Por favor ingresa tu contraseña dos veces:</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cambiar contraseña</button>
    </form>
    {% else %}
    <p>El enlace para cambiar la contraseña no es válido, posiblemente porque ya ha sido usado o ha expirado. Por favor, solicita un nuevo enlace de restablecimiento de contraseña.</p>
    {% endif %}

{% endblock %}